<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% messages.forEach(function(message){ %>
    <div class="user-message">
      <p><%=message.user%>,</p>
      <p><%=message.text%></p>
      <p><%=message.added%></p>
    </div>
    <% }); %>

    <a href="http://localhost:3000/new">Add new message</a>
  </body>
</html>
