<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <heading>New Message</heading>
      <br />
      <input type="text" id="author" name="author" placeholder="Jack Schmidt"/>
      <input type="text" id="message" name="message" placeholder="Some random message here"/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
